<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="github_demo.demo.dao.CzlogUpMapper">
  <resultMap id="BaseResultMap" type="github_demo.demo.entity.CzlogUp">
    <id column="id" jdbcType="DECIMAL" property="id" />
    <result column="rqsj" jdbcType="TIMESTAMP" property="rqsj" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="c_name" jdbcType="VARCHAR" property="cName" />
    <result column="c_act" jdbcType="VARCHAR" property="cAct" />
    <result column="fzmx_id" jdbcType="DECIMAL" property="fzmxId" />
    <result column="kscs" jdbcType="INTEGER" property="kscs" />
    <result column="lsh" jdbcType="VARCHAR" property="lsh" />
    <result column="sfzmhm" jdbcType="VARCHAR" property="sfzmhm" />
    <result column="ksxm" jdbcType="VARCHAR" property="ksxm" />
    <result column="kfxm" jdbcType="VARCHAR" property="kfxm" />
    <result column="sendzt" jdbcType="VARCHAR" property="sendzt" />
    <result column="mess" jdbcType="VARCHAR" property="mess" />
    <result column="c_ip" jdbcType="VARCHAR" property="cIp" />
    <result column="c_sql" jdbcType="VARCHAR" property="cSql" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rqsj, uid, c_name, c_act, fzmx_id, kscs, lsh, sfzmhm, ksxm, kfxm, sendzt, mess, 
    c_ip, c_sql
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_czlog_up
    where id = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from m_czlog_up
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="github_demo.demo.entity.CzlogUp">
    insert into m_czlog_up (id, rqsj, uid, 
      c_name, c_act, fzmx_id, 
      kscs, lsh, sfzmhm, 
      ksxm, kfxm, sendzt, 
      mess, c_ip, c_sql)
    values (#{id,jdbcType=DECIMAL}, #{rqsj,jdbcType=TIMESTAMP}, #{uid,jdbcType=VARCHAR}, 
      #{cName,jdbcType=VARCHAR}, #{cAct,jdbcType=VARCHAR}, #{fzmxId,jdbcType=DECIMAL}, 
      #{kscs,jdbcType=INTEGER}, #{lsh,jdbcType=VARCHAR}, #{sfzmhm,jdbcType=VARCHAR}, 
      #{ksxm,jdbcType=VARCHAR}, #{kfxm,jdbcType=VARCHAR}, #{sendzt,jdbcType=VARCHAR}, 
      #{mess,jdbcType=VARCHAR}, #{cIp,jdbcType=VARCHAR}, #{cSql,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="github_demo.demo.entity.CzlogUp">
    insert into m_czlog_up
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="rqsj != null">
        rqsj,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="cName != null">
        c_name,
      </if>
      <if test="cAct != null">
        c_act,
      </if>
      <if test="fzmxId != null">
        fzmx_id,
      </if>
      <if test="kscs != null">
        kscs,
      </if>
      <if test="lsh != null">
        lsh,
      </if>
      <if test="sfzmhm != null">
        sfzmhm,
      </if>
      <if test="ksxm != null">
        ksxm,
      </if>
      <if test="kfxm != null">
        kfxm,
      </if>
      <if test="sendzt != null">
        sendzt,
      </if>
      <if test="mess != null">
        mess,
      </if>
      <if test="cIp != null">
        c_ip,
      </if>
      <if test="cSql != null">
        c_sql,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="rqsj != null">
        #{rqsj,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="cName != null">
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cAct != null">
        #{cAct,jdbcType=VARCHAR},
      </if>
      <if test="fzmxId != null">
        #{fzmxId,jdbcType=DECIMAL},
      </if>
      <if test="kscs != null">
        #{kscs,jdbcType=INTEGER},
      </if>
      <if test="lsh != null">
        #{lsh,jdbcType=VARCHAR},
      </if>
      <if test="sfzmhm != null">
        #{sfzmhm,jdbcType=VARCHAR},
      </if>
      <if test="ksxm != null">
        #{ksxm,jdbcType=VARCHAR},
      </if>
      <if test="kfxm != null">
        #{kfxm,jdbcType=VARCHAR},
      </if>
      <if test="sendzt != null">
        #{sendzt,jdbcType=VARCHAR},
      </if>
      <if test="mess != null">
        #{mess,jdbcType=VARCHAR},
      </if>
      <if test="cIp != null">
        #{cIp,jdbcType=VARCHAR},
      </if>
      <if test="cSql != null">
        #{cSql,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="github_demo.demo.entity.CzlogUp">
    update m_czlog_up
    <set>
      <if test="rqsj != null">
        rqsj = #{rqsj,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="cName != null">
        c_name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cAct != null">
        c_act = #{cAct,jdbcType=VARCHAR},
      </if>
      <if test="fzmxId != null">
        fzmx_id = #{fzmxId,jdbcType=DECIMAL},
      </if>
      <if test="kscs != null">
        kscs = #{kscs,jdbcType=INTEGER},
      </if>
      <if test="lsh != null">
        lsh = #{lsh,jdbcType=VARCHAR},
      </if>
      <if test="sfzmhm != null">
        sfzmhm = #{sfzmhm,jdbcType=VARCHAR},
      </if>
      <if test="ksxm != null">
        ksxm = #{ksxm,jdbcType=VARCHAR},
      </if>
      <if test="kfxm != null">
        kfxm = #{kfxm,jdbcType=VARCHAR},
      </if>
      <if test="sendzt != null">
        sendzt = #{sendzt,jdbcType=VARCHAR},
      </if>
      <if test="mess != null">
        mess = #{mess,jdbcType=VARCHAR},
      </if>
      <if test="cIp != null">
        c_ip = #{cIp,jdbcType=VARCHAR},
      </if>
      <if test="cSql != null">
        c_sql = #{cSql,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="github_demo.demo.entity.CzlogUp">
    update m_czlog_up
    set rqsj = #{rqsj,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=VARCHAR},
      c_name = #{cName,jdbcType=VARCHAR},
      c_act = #{cAct,jdbcType=VARCHAR},
      fzmx_id = #{fzmxId,jdbcType=DECIMAL},
      kscs = #{kscs,jdbcType=INTEGER},
      lsh = #{lsh,jdbcType=VARCHAR},
      sfzmhm = #{sfzmhm,jdbcType=VARCHAR},
      ksxm = #{ksxm,jdbcType=VARCHAR},
      kfxm = #{kfxm,jdbcType=VARCHAR},
      sendzt = #{sendzt,jdbcType=VARCHAR},
      mess = #{mess,jdbcType=VARCHAR},
      c_ip = #{cIp,jdbcType=VARCHAR},
      c_sql = #{cSql,jdbcType=VARCHAR}
    where id = #{id,jdbcType=DECIMAL}
  </update>
</mapper>