<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="github_demo.demo.dao.PbcatcolMapper">
  <resultMap id="BaseResultMap" type="github_demo.demo.entity.Pbcatcol">
    <result column="pbc_tnam" jdbcType="VARCHAR" property="pbcTnam" />
    <result column="pbc_tid" jdbcType="INTEGER" property="pbcTid" />
    <result column="pbc_ownr" jdbcType="VARCHAR" property="pbcOwnr" />
    <result column="pbc_cnam" jdbcType="VARCHAR" property="pbcCnam" />
    <result column="pbc_cid" jdbcType="SMALLINT" property="pbcCid" />
    <result column="pbc_labl" jdbcType="VARCHAR" property="pbcLabl" />
    <result column="pbc_lpos" jdbcType="SMALLINT" property="pbcLpos" />
    <result column="pbc_hdr" jdbcType="VARCHAR" property="pbcHdr" />
    <result column="pbc_hpos" jdbcType="SMALLINT" property="pbcHpos" />
    <result column="pbc_jtfy" jdbcType="SMALLINT" property="pbcJtfy" />
    <result column="pbc_mask" jdbcType="VARCHAR" property="pbcMask" />
    <result column="pbc_case" jdbcType="SMALLINT" property="pbcCase" />
    <result column="pbc_hght" jdbcType="SMALLINT" property="pbcHght" />
    <result column="pbc_wdth" jdbcType="SMALLINT" property="pbcWdth" />
    <result column="pbc_ptrn" jdbcType="VARCHAR" property="pbcPtrn" />
    <result column="pbc_bmap" jdbcType="VARCHAR" property="pbcBmap" />
    <result column="pbc_init" jdbcType="VARCHAR" property="pbcInit" />
    <result column="pbc_cmnt" jdbcType="VARCHAR" property="pbcCmnt" />
    <result column="pbc_edit" jdbcType="VARCHAR" property="pbcEdit" />
    <result column="pbc_tag" jdbcType="VARCHAR" property="pbcTag" />
  </resultMap>
  <insert id="insert" parameterType="github_demo.demo.entity.Pbcatcol">
    insert into pbcatcol (pbc_tnam, pbc_tid, pbc_ownr, 
      pbc_cnam, pbc_cid, pbc_labl, 
      pbc_lpos, pbc_hdr, pbc_hpos, 
      pbc_jtfy, pbc_mask, pbc_case, 
      pbc_hght, pbc_wdth, pbc_ptrn, 
      pbc_bmap, pbc_init, pbc_cmnt, 
      pbc_edit, pbc_tag)
    values (#{pbcTnam,jdbcType=VARCHAR}, #{pbcTid,jdbcType=INTEGER}, #{pbcOwnr,jdbcType=VARCHAR}, 
      #{pbcCnam,jdbcType=VARCHAR}, #{pbcCid,jdbcType=SMALLINT}, #{pbcLabl,jdbcType=VARCHAR}, 
      #{pbcLpos,jdbcType=SMALLINT}, #{pbcHdr,jdbcType=VARCHAR}, #{pbcHpos,jdbcType=SMALLINT}, 
      #{pbcJtfy,jdbcType=SMALLINT}, #{pbcMask,jdbcType=VARCHAR}, #{pbcCase,jdbcType=SMALLINT}, 
      #{pbcHght,jdbcType=SMALLINT}, #{pbcWdth,jdbcType=SMALLINT}, #{pbcPtrn,jdbcType=VARCHAR}, 
      #{pbcBmap,jdbcType=VARCHAR}, #{pbcInit,jdbcType=VARCHAR}, #{pbcCmnt,jdbcType=VARCHAR}, 
      #{pbcEdit,jdbcType=VARCHAR}, #{pbcTag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="github_demo.demo.entity.Pbcatcol">
    insert into pbcatcol
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pbcTnam != null">
        pbc_tnam,
      </if>
      <if test="pbcTid != null">
        pbc_tid,
      </if>
      <if test="pbcOwnr != null">
        pbc_ownr,
      </if>
      <if test="pbcCnam != null">
        pbc_cnam,
      </if>
      <if test="pbcCid != null">
        pbc_cid,
      </if>
      <if test="pbcLabl != null">
        pbc_labl,
      </if>
      <if test="pbcLpos != null">
        pbc_lpos,
      </if>
      <if test="pbcHdr != null">
        pbc_hdr,
      </if>
      <if test="pbcHpos != null">
        pbc_hpos,
      </if>
      <if test="pbcJtfy != null">
        pbc_jtfy,
      </if>
      <if test="pbcMask != null">
        pbc_mask,
      </if>
      <if test="pbcCase != null">
        pbc_case,
      </if>
      <if test="pbcHght != null">
        pbc_hght,
      </if>
      <if test="pbcWdth != null">
        pbc_wdth,
      </if>
      <if test="pbcPtrn != null">
        pbc_ptrn,
      </if>
      <if test="pbcBmap != null">
        pbc_bmap,
      </if>
      <if test="pbcInit != null">
        pbc_init,
      </if>
      <if test="pbcCmnt != null">
        pbc_cmnt,
      </if>
      <if test="pbcEdit != null">
        pbc_edit,
      </if>
      <if test="pbcTag != null">
        pbc_tag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pbcTnam != null">
        #{pbcTnam,jdbcType=VARCHAR},
      </if>
      <if test="pbcTid != null">
        #{pbcTid,jdbcType=INTEGER},
      </if>
      <if test="pbcOwnr != null">
        #{pbcOwnr,jdbcType=VARCHAR},
      </if>
      <if test="pbcCnam != null">
        #{pbcCnam,jdbcType=VARCHAR},
      </if>
      <if test="pbcCid != null">
        #{pbcCid,jdbcType=SMALLINT},
      </if>
      <if test="pbcLabl != null">
        #{pbcLabl,jdbcType=VARCHAR},
      </if>
      <if test="pbcLpos != null">
        #{pbcLpos,jdbcType=SMALLINT},
      </if>
      <if test="pbcHdr != null">
        #{pbcHdr,jdbcType=VARCHAR},
      </if>
      <if test="pbcHpos != null">
        #{pbcHpos,jdbcType=SMALLINT},
      </if>
      <if test="pbcJtfy != null">
        #{pbcJtfy,jdbcType=SMALLINT},
      </if>
      <if test="pbcMask != null">
        #{pbcMask,jdbcType=VARCHAR},
      </if>
      <if test="pbcCase != null">
        #{pbcCase,jdbcType=SMALLINT},
      </if>
      <if test="pbcHght != null">
        #{pbcHght,jdbcType=SMALLINT},
      </if>
      <if test="pbcWdth != null">
        #{pbcWdth,jdbcType=SMALLINT},
      </if>
      <if test="pbcPtrn != null">
        #{pbcPtrn,jdbcType=VARCHAR},
      </if>
      <if test="pbcBmap != null">
        #{pbcBmap,jdbcType=VARCHAR},
      </if>
      <if test="pbcInit != null">
        #{pbcInit,jdbcType=VARCHAR},
      </if>
      <if test="pbcCmnt != null">
        #{pbcCmnt,jdbcType=VARCHAR},
      </if>
      <if test="pbcEdit != null">
        #{pbcEdit,jdbcType=VARCHAR},
      </if>
      <if test="pbcTag != null">
        #{pbcTag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>